<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <link type="text/css" rel="stylesheet" href="/assets/picnic.css">
      <meta name="viewport" content="width=device-width, initial-scale=1">
   </head>
   <body>
      <h1>Change Something!</h1>
      <form method="get" id="myForm" action='change_colour/'>
         <input class="submit" type="submit" value="Colour">
      </form>
      <form method="get" id="myForm" action='change_effect/'>
         <input class="submit" type="submit" value="Effect">
      </form>
   </body>
</html>
