<html>
<head>
    <title>NFC Complete</title>
    <link href="{{ url_for('static', path='/picnic.css') }}" rel="stylesheet">
    <meta http-equiv='refresh' content='3; URL={{ url }}'>
</head>
<body>
    <h1>User Details Updated:</h1>
    <article class="card" style="margin: 20px; padding: 20px;">
        <table>
            <tr>
                <th>User ID</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>NFC ID</th>
                <td>{{ user.nfc_id }}</td>
            </tr>
        </table>
        <a href="{{ url }}">Do another</a>
    </article>
</body>
</html>