<html>
<head>
    <title>Register NFC</title>
    <link href="{{ url_for('static', path='/picnic.css') }}" rel="stylesheet">
</head>
<body>
    <h1>User NFC Registration Page: </h1>
    <article class="card" style="margin: 20px; padding: 20px;">
        <form action="" method="post" class="form-example">
        <label for="user_id">Select a User:</label>
            <select name="user_id" id="user_id" class="form-example">
                {% for user in user_list %}
                <option value="{{ user.id }}"> {{ user.username }}</option>
                {% endfor %}   
            </select>
            <div class="form-example">
                <label for="nfc_id">NFC ID: </label>
                <input type="text" name="nfc_id" id="nfc_id" required>
            </div>
            <div class="form-example">
                <input type="submit" value="Register">
            </div>
        </form>
    </article>
</body>
</html>